img {
  width: 40px;
}
body {
  background: url(../images/4975.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 50px;

}

.navbar-brand {
  padding-left: 30px;
  padding-top: 30px;
}

 .navbar-nav {
  padding-right: 20px;
}  

.nav-item
{
    padding-left: 28px;
}
.navbar-nav .nav-item {
    margin-right: 20px; 
}

.navbar-toggler {
  margin-right: 25px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.navbar-nav .nav-item .nav-link {
  color: white; /* Set default color to bright white */
  position: relative;
}

.navbar-nav .nav-item .nav-link:hover {
  color: rgba(247, 119, 34, 0.555); /* Change color on hover or when active */
}

.navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent; /* Set the initial color of the underline */
  transition: width 0.3s ease, background-color 0.3s ease; /* Add transition for smooth effect */
}

.navbar-nav .nav-item .nav-link:hover::after {
  width: 100%; /* Expand the underline on hover or when active */
  background-color: rgba(
    247,
    119,
    34,
    0.555
  ); /* Change the color of the underline */
}